.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cursor{
  width: 40px;
  height: 40px;
  background-color: white;
  filter: invert(70%);
  border-radius: 50%;
}

.hero_logo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  filter: invert(1);
  backdrop-filter: invert(1);
  background-image: url("./components/Nav/logo.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 

}

.webgl{
  position: absolute;
  top:0;
  left: 0;
}