.big_circle{
    width: 60px;height: 60px;
    filter: blur(8px);
   
    border: 2.5px solid white;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transition: transform 0.1s;
    z-index: 999;
}
.small_circle{
    width: 20px;height: 20px;
    backdrop-filter: invert(1);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 999;
    

}