.nav_container{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    z-index: 99;
    position: fixed;
    
    .blur_container{
        position: fixed;
        display: block;
        width: 100%;
        height: 9.9vh;
        background-color: rgba($color: #000000, $alpha: 0.8);
        
    }

    

    .nav_middle_container{
        width: 90%;
        display: flex;
        align-items: center;
        border-bottom: 3px solid white;
        



.nav_left_container{
    width: 50%;
    

    h1{
        color: white;
        text-align: left;
    }
}
.nav_right_container{
    width: 50%;


    ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        a{
            text-decoration: none;
            cursor: none;
            
            padding: 20px;
            transition: transform 0.3s;

            li{
                color: aliceblue;
                list-style: none;
            }
        }
        a:hover{
            transform: scale(1.2);
            
        }

        
    }

}
}
}